{% extends 'base.html' %}

{% block content %}
<h3><span id="cefacem">Ce facem?</span></h3>

<p>Principala misiune a rețelei <a href="http://cuzmeura.org">cuZmeură</a>
este promovarea comunităților și proiectelor românești
de <a href="http://www.gnu.org/philosophy/free-sw.ro.html">software liber</a>
și cu surse deschise.</p>
<p>Este vorba în special de proiectele care aduc contribuții la
comunitatea <em>open source</em> în general și în care oricine poate să
participe. Vrem mai ales să promovăm contribuțiile și actul de a contribui
spre beneficiul tuturor. Poți citi care sunt <a href="/proiecte/">regulile</a>
pe care le impunem proiectelor pe care le promovăm.</p>

<h3><span id="dece">De ce?</span></h3>
<p>Credem că sunt mulți cei care pot și vor să contribuie la un proiect liber
în țară, dar nu știu unde. Majoritatea utilizatorilor, potențiali
contribuitori, frecventează forumuri unde își rezolvă problemele și
Comunitățile și proiectele din România sunt din ce în ce mai active și mai
multe, dar cu toate astea duc lipsă de publicitate și promovare.</p>
<p>Încercăm, cu ajutorul <a href="http://cuzmeura.org">cuZmeură</a> să
promovăm aceste proiecte mai întâi în interiorul comunității (pe site-urile
proiectelor), dar să ne extindem și spre exterior: pe blogurile
contribuitorilor și simpatizanților software-ului liber.</p>

<h3><span id="cum">Cum?</span></h3>

<p>Serviciul cuZmeură este construit în totalitate
folosind <a href="http://www.gnu.org/philosophy/free-sw.ro.html">software
liber</a>. Situl este construit cu ajutorul
platformei <a href="http://djangoproject.com">Django</a>, folosind o bază de
date <a href="http://postgresql.org">PostgreSQL</a> și este găzduit pe
o mașină Fedora 12, donată de <a href="http://sblug.ro">SbLUG</a>. </p>

<h3><span id="contribuie">Contribuie la cuZmeură</span></h3>
<p>Fiind un proiect liber, oricine poate contribui în orice fel la
proiectul <a href="http://cuzmeura.org">cuZmeură</a>. Bineînțeles că
principala metodă este să îți <a href="/user/register/">înregistrezi</a>
saitul sau blogul personal în rețea și să ajuți cu promovarea. Dar mai există
și multe alte modalități. Te rugăm să
folosești <a href="http://github.com/mapleoin/cuZmeura/issues">Bug tracker-ul
github</a> pentru a ne comunica ideile tale. </p>

<h4>Programare</h4>
<p>Codul poate fi <a href="http://github.com/mapleoin/cuZmeura">descărcat</a>
și îmbunătățit de oricine. Te rugăm totuși să ne spui ce vrei să faci mai
întâi pentru a ne putea coordona și pentru a fi sigur(ă) că ceea ce faci va fi
integrat în serviciul nostru.</p>

<h4>Grafică</h4>
<p>Avem întotdeauna nevoie de mai mulți norișori și mai multe steluțe pe
site. Prezența grafică este deocamdată mai mult funcțională decât
atrăgătoare. N-avem încă un logo/banner.</p>

<h4>Idei</h4>
<p>Avem nevoie de ideile tale despre cum crezi că ar trebui să
funcționeze <a href="http://cuzmeura.org">cuZmeură</a> și ce crezi că ar
trebui să facem în continuare. Suntem abia la început și nu am stabilit încă
niște reguli robuste despre proiectele pe care le promovăm sau despre .</p>

<h3><span id="lumea">Cucerirea lumii</span></h3>
<p>Suntem abia la început. Nu vrem să ne oprim la distribuirea de afișe între
comunități. Vrem să promovăm tot felul de acțiuni cum ar fi conferințe sau
evenimente mai puțin formale atunci când ele se desfășoară. Ne dorim să fim
principala metodă prin care oamenii aud despre noi moduri de a contribui.</p>

{% endblock %}
