{% extends "base.html" %}

{% block content %}

<div class="authform login">
  {% if form.errors %}
  <h3>Parola sau numele de utilizator sunt incorecte.</h3>
  {% endif %}

  <form method="post" action="{% url django.contrib.auth.views.login %}">
    {% csrf_token %}
    <p><label for="username">Nume:</label>
      {{ form.username }} </p>
    <p><label for="password">Parola:</label>
      {{ form.password }} </p>
    <p><input type="submit" value="login" />
          <input type="hidden" name="next" value="{{ next }}" /></p>
  </form>
</div>

{% endblock %}
