{% extends 'base.html' %}

{% block content %}

<h3>Promovare FOSSAds</h3>

<p>Acestea sunt condițiile pe care proiectele înscrise în
rețeaua <a href="http://fossads.org">FOSSAds</a> trebuie să le
îndeplinească. Dacă proiectul dvs. îndeplinește aceste condiții și doriți ca
el să fie promovat în cadrul rețelei noastre, contactați-ne. Nu toate
proiectele pot fi acceptate, pentru că vrem să menținem un anumit standard de
calitate. Evident, dacă nu acceptăm proiectul dvs. asta nu înseamnă că noi
considerăm calitatea lui ca fiind îndoielnică, ci poate doar nu se potrivește
cu mesajul pe care dorim să îl transmitem.</p>

<h4>Licențe libere</h4>
<p>Contribuțiile aduse la proiectele pe care le promovăm vor fi făcute publice
sub <a href="http://en.wikipedia.org/wiki/Free_license">licențe
libere</a>. Credem în accesul liber la informație și credem că toată lumea
trebuie să se poată bucura de munca noastră.</a>

<h4>Pagina de contribuții</h4>
<p>Rețeaua <a href="http://fossads.org">FOSSAds</a> promovează moduri de a
contribui. Mulți sunt familiari probabil cu proiecte mari
precum <a href="http://ubuntu.com">Ubuntu</a>
sau <a href="http://fedoraproject.ro">Fedora</a>. Noi vrem să îi determinăm să
se implice. De aceea legăturile afișelor FOSSAds vor trimite către o pagină
care descrie clar modul cum se poate contribui la proiectul
respectiv. Exemple: <a href="http://ubuntu.ro/participa">Ubuntu</a>, <a href="http://fedoraproject.ro/contribuie/">Fedora</a>
etc.</p>

<h4>Contribuții voluntare și transparente</h4>

<p>Gradul de implicare în proiectele pe care le promovăm trebuie să fie
depindă total de contribuitor. Procesele prin care se lucrează la proiect
trebuie să fie transparente și deschise publicului. Nu promovăm stagii sau
slujbe.</p>

<h4>Afișe pe situl propriu</h4>

<p>Proiectele înscrise în program sunt încurajate (dar nu obligate) să pună,
la rândul lor, afișe <a href="http://fossads.org">FOSSAds</a>. Nu credem că
există concurență între proiecte libere. Atât timp cât informația circulă
liber, cuvântul de ordine este întrajutorarea, nu concurența.</p>

<br /><hr />
<p>Deși toate proiectele care sunt momentan incluse în rețeaua noastră
îndeplinesc toate condițiile de mai sus, ele nu sunt definitive. Ne puteți
ajuta să le schimbăm și îmbunătățim cu idei noi, pe care le vom discuta cu
actualii membri ai rețelei.</p>

{% endblock %}
